{% extends 'restaurant_app/base.html' %}
{% load static %}
{% block content %}
  <div class="back-link-div">
    <a class="back-link" href="{{ request.META.HTTP_REFERER }}">Назад</a>
  </div>
  <div class="container">
    <div class="card justify-content-center" style="width: 18rem;">
      <img src="{{ dish.photo.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">
          {{ dish.name }}
        </h5>
        <p class="card-text">
          {{ dish.description }}
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
